* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: operator mono;
  background-color: #282828;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}

#display {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 60px;
  font-size: 3rem;
  color: yellow;
  /* border: 1px solid red; */
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 160px));
  grid-template-rows: repeat(5, minmax(80px, 180px));
  gap: 15px;
  /* border: 1px solid red; */
  justify-content: center;
}

#zero {
  grid-column: span 2;
}

div > button {
  border-radius: 50%;
  font-size: 2.5rem;
}
